@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');
 *{
    padding:0 ;
    margin:0;
    box-sizing: border-box;
 }
 body
 {
    font-family: 'poppins',sans-serif;
    width: 100%;
    height: 100vh;
    background: #121213;
    display: flex;
    align-items: center;
    justify-content: center;

 }
 header{
    width:99%;
    height: 97%;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
 }
 .menu_bar,.song_bar
 {
    width: 25%;
    height: 90%;
    border: 1px solid white;
    background: #111727;
    box-shadow: 5px 0px 2px #090f1f;
    color: white;
 }
 /*::::::::::::::::::::Menu_Bar::::::::::::::::::::::::::::::::*/
 .menu_bar h1
 {
    font-size: 20px;
    margin: 15px 0px 0px 20px ;
    font-weight: 500;
 }
 .menu_bar .playlist
 {
   margin: 40px 0px 0px 20px ;
 }
 .menu_bar .playlist h4
 {
   font-size: 14px;
   font-weight: 400;
   padding-bottom: 10px;
   color: #4c5262;
   cursor: pointer;
   display: flex;
   align-items: center;
   transition: .3s linear;
 }
 .menu_bar .playlist h4:hover
 {
   color: white;
 }
 .menu_bar .playlist h4 span
 {
  position: relative;
  margin-right: 35px;

 }
 .menu_bar .playlist h4 span::before
 {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  border: 2px solid #4c5262;
  border-radius: 50%;
  top: -4px;
  transition: .5s linear; 
 }
 .menu_bar .playlist h4:hover span::before
 {
   border: 2px solid #fff;
 }
 .menu_bar .playlist h4 .bi
 {
   display: none;
 }
 .menu_bar .playlist .active
 {
   color: #36e2ec;
 }
 .menu_bar .playlist .active span
 {
   display: none;
 }
 .menu_bar .playlist .active .bi
 {
   display: flex;
   margin-right: 20px ;
 }
 /*--------------------Menu_Song_List---------------*/
 .menu_song_list
 {
   width: 100%;
   height: 455px;
   /* border: 1px solid pink; */
   margin-top: 40px;
   overflow:auto;
   
 }
 .menu_song_list::-webkit-scrollbar
 {
   display: none;
 }
 .menu_song_list li{
   list-style-type: none;
   position: relative;
   padding: 5px 0px 5px 20px ;
   display: flex;
   align-items: center;
   margin-bottom: 10px;
   cursor: pointer;
   transition: .3s linear;
 }
 .menu_song_list li:hover
 {
   background: rgb(105, 105, 105,.1);
 }
 .menu_song_list li span
 {
   font-size: 12px;
   font-weight: 600;
   color: #4c5262;
 }
 .menu_song_list li img
 {
   width: 32px;
   height: 32px;
   margin-left: 25px;
   border-radius:4px;
 }
 .menu_song_list li h5
 {
   font-size: 11px;
   margin-left: 15px;
   width: 170px;
  /*  border: 1px solid red; */
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
 }
 .menu_song_list li h5 .subtitle
 {
   font-size: 9px;
   color: #4c5262;

 }
 .menu_song_list li .bi
 {
  position: absolute;
  right: 15px;
  
 }
 /*::::::::::::::::::::Song_Bar::::::::::::::::::::::::::::::::*/
 .song_bar
 {
    width: 75%;
    background: #0b1320;
 }
 .song_bar
 {
   z-index: 2;
 }
 .song_bar::before
{
   content: '';
   position:absolute;
   width: 100%;
   height:90%;
   background:url('qwerty3.jpg');
   z-index: -1;
}
.song_bar nav
{
   height: 10%;
   width: 90%;
  /*  border: 1px solid#fff; */
   margin: auto;
   display: flex;
   align-items: center;
   justify-content:space-between;
}
.song_bar nav ul
{
   display: flex;
}
.song_bar nav ul li
{
   list-style: none;
   position: relative;
   font-size: 13px;
   color: #36e2ec;
   margin-right: 25px;
   cursor: pointer;
   transition: .3s linear;
}
.song_bar nav ul li:hover
{
   color: #fff;
}
.song_bar nav ul li:nth-child(1)
{
  color: #fff;

}
.song_bar nav ul li span
{
 position: absolute;
 height: 2.5px;
 width: 53px;
 background:#36e2ec ;
 bottom: -5px;
 left: 0;
 border-radius: 20px;
}
.song_bar nav .search
{
 position: relative;
 width: 40%;
 padding: 1px 10px ;
 border-radius: 20px;
 /* border: 1px solid #fff; */
 color: gray;
}
.song_bar nav .search::before
{
 content: '';
 position: absolute;
 width: 100%;
 height: 100%;
 background: rgb(184, 184, 184,.1);
border-radius: 20px;
backdrop-filter:blur(10px) ;
z-index:-1;
}
.song_bar nav .search .bi
{
   font-size: 13px;
   padding: 3px 0px 0px 10px ;
}
.song_bar nav .search input
{
   background: none;
   border: none;
   outline: none;
   padding: 0px 10px ;
   color: white;
   font-size: 12px;
}
.song_bar nav .user
{
   position: relative;
   width: 30px;
   height:30px;
   border: 1px solid #fff;
   border-radius: 50%; 
}
.song_bar nav .user img
{
   width: 100%;
   height:100%;
     border-radius: 50%; 
     box-shadow: 2px 2px 8px  #121214;
}
.song_bar .content
{
  width: 90%;
  height: 30%;
/*   border: 1px solid red; */
  margin: auto;
  padding-top: 20px;
}
.song_bar .content h1
{
  font-size: 25px;
  font-weight: 600;
}
.song_bar .content p
{
  font-size: 11px;
  font-weight:400;
  color: #4c5262;
  margin: 5px;
}
.song_bar .content .buttons
{
 margin-top: 15px;
}
.song_bar .content .buttons button
{
   width: 130px;
   height: 30px;
   border: 2px solid #36e2ec;
   outline: none;
   border-radius: 20px;
   background: #5adae0;
   color: white;
   cursor: pointer;
   transition: .3s linear;
}
.song_bar .content .buttons button:hover
{
   background: none;
   color: #36e2ec;
}
.song_bar .content .buttons button:nth-child(2)
{
   background: none;
   color: #36e2ec;
}
.song_bar .content .buttons button:nth-child(2):hover
{
   background: #36e2ec;
   color: #fff;
}
 .song_bar .popular_song
 {
   width: 95%;
   height: auto;
   margin: auto;
   margin-top: 15px;
   border-radius:10%;
   /* border: 1px solid rgb(255, 255, 255); */
 }
 .song_bar .popular_song:hover
 {
   width: 96%;
   height:auto;
   margin: auto;
   margin-top: 15px;
   border-radius:10%;
   /* border: 1px solid rgb(255, 255, 255); */
 }
 .song_bar .popular_song .h4
 {
   display: flex;
   align-items:center;
   justify-content: space-between;
 }
 .song_bar .popular_song .h4 .bi
 {
  color: #a4a8b4;
  cursor: pointer;
  transition: .3s linear;
 }
 .song_bar .popular_song .h4 .bi:hover
 {
  color: #ffffff;
 }
 .song_bar .popular_song .pop_song
 {
   width: 100%;
   height: 130px;/*height:150;*/
   margin-top: 5px;
   display: flex;
  /*  border: 1px solid #fff; */
   overflow:auto;
   scroll-behavior: smooth;
   border-radius: 1px;
 }
 .song_bar .popular_song .pop_song::-webkit-scrollbar
 {
   display: none;
 }
 .song_bar .popular_song .pop_song li
 {
   min-width: 90px;
   height: 120px;
   list-style-type: none;
   margin-right: 10px;
   transition: .3s linear;
 }
 .song_bar .popular_song .pop_song li:hover
 {
   background:rgb(105, 105, 170,.1) ;
 }
 .song_bar .popular_song .pop_song li .img_play
 {
   position: relative;
   width: 90px;     /* width: 100px; */
   height: 90px;    /* height: 100px; */
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .song_bar .popular_song .pop_song li .img_play img
 {
  width: 100%;
  height: 105%; 
 }
 .song_bar .popular_song .pop_song li .img_play .bi
 {
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  transition: .3s linear; 
  opacity: 0;
 }
 .song_bar .popular_song .pop_song li:hover .img_play .bi
 {
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  transition: .3s linear; 
  opacity: 1;
 }
 .song_bar .popular_song .pop_song li h5
 {
   padding: 5px 0px 0px 5px ;
   line-height: 15px;
   font-size: 10px;
   width: 100px;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
 }
 .song_bar .popular_song .pop_song li h5 .subtitle
 {
   font-size: 9px;
   color: #4c5262;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
 }
 .song_bar .popular_artists
 {
   width: 90%;
   height: auto;
 /*   border: 1px solid#fff; */
   margin:auto;
   margin-top: 15px;
}
.song_bar .popular_artists .h4
{
  display: flex;
  align-items:center;
  justify-content: space-between;
}
.song_bar .popular_artists .h4 .bi
{
 color: #a4a8b4;
 cursor: pointer;
 transition: .3s linear;
}
.song_bar .popular_artists .h4 .bi:hover
{
 color: #ffffff;
}
.song_bar .popular_artists .Artists_box
{
   width: 100%;
   height:auto;
   margin-top: 5px;
   display: flex;
  /*  border: 1px solid #fff; */
   overflow:auto;
   scroll-behavior: smooth;
   border-radius: 15px;
}
.song_bar .popular_artists .Artists_box li
{
   list-style-type: none;
   min-width:60px;
   height: 60px;
   border-radius: 50%;
   position: relative;
   margin-right:17px;
   cursor: pointer;
   overflow: auto;
}
.song_bar .popular_artists .Artists_box li img
{
   width: 90%;
   height: 90%;
   border-radius: 50%;
   /* list-style-type:none; */
}
.song_bar .popular_artists .Artists_box::-webkit-scrollbar
{
   display: none;
   list-style-type: none;
}
#on
{
   color: #36e2ec;
   font-weight: 800;
}
#i
{
   color: red;
   font-weight: 600;
}

 /*::::::::::::::::::::Bottom_Master_Play::::::::::::::::::::::::::::::::*/
 .bottom_master_play
 {
    width: 100%;
    height: 10%;
    /* border: 1px solid green; */
    background: #111727;
   /*  background: #0404fa; */
    box-shadow: 0px 8px 3px #090f1f;
 }
/*::::::::::::::::::::::::::::::::Bottom_Master_Play::::::::::::::::::::::::::::::::::::::::::::*/
.bottom_master_play
{
   display: flex;
   align-items: center;
   padding: 0px 20px;
}
.bottom_master_play .wave
{
   width: 30px ;
   height: 30px;
/*    border: 1px solid white; */
   padding-bottom: 5px;
   display: flex;
   align-items: flex-end;
   margin-right: 10px;
}
.bottom_master_play .wave .wave1
{
   width: 3px;
   height: 10px;
   background: #36e2ec;
   margin-right: 3px;
   border-radius: 5px 5px 0px 0px;
   animation:  wave.5s linear infinite  ;
}
.bottom_master_play .wave .wave1:nth-child(2)
{
   height: 13px;
   margin-right: 3.5px;
   animation-delay: .4s;
}
.bottom_master_play .wave .wave1:nth-child(3)
{
   height: 8px;
   animation-delay: .8s;
}
/*::::::::::::::::::::::::::::::Javascript Classes:::::::::::::::::::::::::::::::::*/
.bottom_master_play .active1 .wave1
{
   animation: wave .5s linear infinite;
}
.bottom_master_play .active1 .wave1:nth-child(2)
{
   animation-delay: .4s;
}
.bottom_master_play .active1 .wave1:nth-child(3)
{
   animation-delay: .8s;
}


@keyframes wave
{
   0% {
    height: 10px;
       }
    50% {
       height: 15px;
       }
    100% {
          height: 10px;
       }
 }
.bottom_master_play img
{
   width: 35px;
   height: 35px;
}
.bottom_master_play h5
{
   width: 130px;
  /*  border: 1px solid #fff; */
   margin-left: 15px;
   color: #fff;
   line-height: 17px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   font-size: 10px;
}
.bottom_master_play h5 .subtitle
{
   font-size: 11px;
   color: #4c5262;
   width: 100%;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}
.bottom_master_play .icon
{
   font-size: 20px;
   color: #fff;
   margin: 0px 20px 0px 40px ;
   outline: none;
   display: flex;
   align-items: center;
}
.bottom_master_play .icon .bi
{
   cursor: pointer;
   outline: none;
}
.bottom_master_play .icon .shuffle
{
   font-size: 17px;
   margin-right: 10px;
   width: 17.5px;
   overflow: hidden;
   display: flex;
   align-items: center;
}
.bottom_master_play .icon #download_music
{
   text-decoration: none;
   color:#fff ;
  font-size: 20px;
  margin-left: 10px;
}
.bottom_master_play .icon .bi.wave1:nth-child(3)
{
   border: 1px solid rgb(105,105,105,.1);
   border-radius: 50%;
   padding: 1px 5px 0px 7px ;
   margin: 0px 5px ;
}
.bottom_master_play span
{
   color: #fff;
   width: 32px;
   /* border: 1px solid #fff; */
   font-size: 11px ;
   font-weight: 400;
}
#currentstart
{
   margin: 0px 0px 0px 20px;
}
.bottom_master_play .bar
{
   position: relative;
   width: 43%;
   height: 2px;
   background: rgb(105, 105, 170,.1);
   margin: 0px 15px 0px 10px ;
}
.bottom_master_play .bar2
{
   position: absolute;
   background-color: #36e2ec;
   width: 0%;
   height: 100%;
   top: 0;
   transition: 1s linear;

}
.bottom_master_play .bar .dot
{
   position: absolute;
   width: 5px;
   height: 5px;
   background: #36e2ec;
   border-radius: 50%;
   left: 0%;
   top: -1.5px;
   transition: 1s linear;
}
.bottom_master_play .bar .dot::before
{
   content: '';
   position: absolute;
   width: 15px;
   height: 15px;
   border: 1px solid #36e2ec;
   border-radius: 50%;
   left: -7px;
   top: -6.5px;
   box-shadow: inset 0px 0px 3px #36e2ec;
}
 .bottom_master_play .bar input
{
   position: absolute;
   width: 100%;
   left:0;
   top: -7px;
   cursor: pointer;
   z-index: 999999999999999999999999999999;
   opacity: 0;
}
 .bottom_master_play .vol 
{
   position:relative;
   width: 100px;
   height: 2px;
   background: rgb(105, 105, 170,.1);
   margin-left: 50px;
}
 .bottom_master_play .vol .bi
{
   position:absolute;
   color: white;
   font-size: 25px;
   top: -17px;
   left: -30px;
}
 .bottom_master_play .vol input
{ 
   position:absolute;
   width: 100%;
   top: -6px;
   left: 0;
   cursor: pointer;
   z-index: 9999999999999999999999999999999;
   opacity: 0;
}
 .bottom_master_play .vol .vol_bar
{
   position:absolute;
  background: #36e2ec;
  width: 80%;
  height:100%;
  top: 0;
  transition: 0.5s linear;
}
.bottom_master_play .bar .dot
{
   position: absolute;
   width: 5px;
   height: 5px;
   background: #36e2ec;
   border-radius: 50%;
   left: 100%;
   top: -1.5px;
   transition: 1s linear;
}
.bottom_master_play .vol .dot::before
{
   content: '';
   position: absolute;
   width: 15px;
   height: 15px;
   border: 1px solid #36e2ec;
   border-radius: 50%;
   left: -7px;
   top: -6.5px;
   box-shadow: inset 0px 0px 3px #36e2ec;
}
/*:::::::::::::::::::::--Song Side--:::::::::::::::::::::::::::::::::*/
